body {
    font-family: Arial;
    padding: 20px;
    background: rgb(194, 226, 50);
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(9, 221, 37);
    text-decoration: underline;
    margin-top: 20px;
  }
  .col{
      float: left;
      margin: 20%;
      margin-top: 10%;
      display: flex;
      justify-content: center;
  
  }
 
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin: 30%;
    display: grid;
   grid-gap: 1rem;
    display: inline-block;
    
  }
  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table
    clear: both;
  }
   */
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }